@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary: #3584e4;
  --max-w: 1200px;
  --table-color: rgba(153, 193, 231, 0.2);
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
}
